    .header {
      background-color: rgb(202, 200, 200);
      padding: 50px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .image{
        display: flex;
        justify-items: center;
        
    }
    img{
        height: 450px;
        width: 800px;
    }
    .headerText {
        font-size: 20px;
        padding: 80px;
        align-self: flex-start;
        margin-left: 120px;
    }
    h1{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        font-variation-settings:
        "wdth" 100;
    }
    hr{
       background-color: black;
       height: 2px;
       margin: 80px auto;
    }
    .texts{
        margin-left: 400px;
        margin-bottom: 100px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
    }
    h2{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 1.6rem;
        margin-bottom: 2px;
    }
    h4{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 20px;

    }
    h3{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        margin-bottom: 5px;
    }
    p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 40px;
    }